<section class="about">
    <h2>About Me</h2>
    <p>
        Hey, I'm Chahana! I'm a second-year Systems Design Engineering student at the
        University of Waterloo. I'm currently interning at Symmetry Commerce, a Shopify partner
        startup where we build applications and deal with the software/data migrations of
        Shopify merchants!
    </p>
    <p>
        I've also previously interned at Kenna Technologies as a web app developer, where I
        built software applications for a Fortune 500 Global Client. Before that I interned at
        Sable Metal Fabrication in data automation!
    </p>
    <p>
        I did competitive swimming for about 9 years. I love going on walks and exploring,
        especially hiking.
    </p>
    <p>
        This summer, I am lucky to have the opportunity to join MLH with their production
        engineering fellowship through Meta. I'm super excited to get hands-on and learn all
        about production engineering!
    </p>
</section>
