<section class="about">
    <h2>About Me</h2>
    <p>
        Hey, I'm Chahana! I'm a second-year Systems Design Engineering student at the
        University of Waterloo. I'm currently interning at Symmetry Commerce, a Shopify partner
        startup where we build applications and deal with large data migrations of
        Shopify merchants!
    </p>
    <p>
        I've also previously interned at Kenna Technologies as a web app developer, where I
        built software applications for a Fortune 500 Global Client. Before that I interned at
        Sable Metal Fabrication in data automation!
    </p>
    <p>
        I did competitive swimming for about 9 years. I love going on walks and exploring,
        especially hiking.
    </p>
    <p>
        This summer, I am doing a Production Engineering fellowship with Meta through MLH. 
        <br>
        So far....<br>
        I've built Linux-based reliability tooling and CI/CD validation scripts using Python, Bash, and Docker to automate monitoring, diagnostics and testing.
    </p>
</section>
